*{
    margin:0 ;
    padding: 0;
    box-sizing:border-box ;
}
body{
    background-image: url("https://www.millionaire.it/wp-content/uploads/2016/11/13391383_1409484679078042_2808243981659030912_o.jpg");
    
    background-size: cover;
}
h1{
    margin: 40px;
    color: yellow;
    font-size: 30px;
    text-align: center;
}
.bottoni button{
    padding: 10px;
    border: 2px solid brown;
    border-radius: 20px;
    background-color: rgba(190, 64, 14, 0.863);

}
.bottoni{
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.from-game{
    height: 300px;
    display: flex;
    justify-content: center;
    color : white;
    font-size: 18px;        
}

#piatto-vincente{
    text-align: center;
}

#campo{
    background-position: center;
    background-size: cover;
}
.campo1{
    background-image: url("https://blog.giallozafferano.it/albe/wp-content/uploads/2020/08/15FA1142-B5FA-410C-878B-2B8745B85F64_001-960x949.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}
.campo2{
    background-image: url("https://images.vanityfair.it/wp-content/uploads/2017/08/16004948/Landscape-Lasagna.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: auto;
}
.campo3{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/12/67/ef/69/la-tiella-di-riso-patate.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin: auto;
}
.quadrato{
    background-color: rgba(114, 58, 12);
    border: 1px solid black;
    width: 100px;
    height: 100px;
    color: yellow;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}




.free{
    opacity: 0.1;

    /* background-image: url("https://img.freepik.com/free-photo/texture-grass-field_1232-251.jpg?size=626&ext=jpg&ga=GA1.2.2107986711.1630540800");
    background-position: center;
    background-size: cover; */
}

.boom{
    opacity: 0.5;
    background-image: url("https://img.freepik.com/free-vector/word-pow-with-bomb-explosive_1308-3299.jpg?size=626&ext=jpg");
    background-position: center;
    background-size: cover;
}
